{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Created: {{ post.created }}</p>
    <p>Updated: {{ post.updated }}</p>
    <p>Author: {{ post.author }}</p>
    <p>Category: {{ post.category }}</p>
    <p>Tags: {{ post.tags }}</p>
    <p>Slug: {{ post.slug }}</p>
    <p>Published: {{ post.published }}</p>
    <p>Comments: {{ post.comments }}</p>
    <p>Views: {{ post.views }}</p>
    <p>Rating: {{ post.rating }}</p>
    <p>Rating Count: {{ post.rating_count }}</p>
    <p>Rating Average: {{ post.rating_average }}</p>
    <p>Rating Total: {{ post.rating_total }}</p>
    <p>Rating Votes: {{ post.rating_votes }}</p>
    <p>Rating Percent: {{ post.rating_percent }}</p>
    <p>Rating Percent Rounded: {{ post.rating_percent_rounded }}</p>
    <p>Rating Percent Rounded 5: {{ post.rating_percent_rounded_5 }}</p>
    <p>Rating Percent Rounded 10: {{ post.rating_percent_rounded_10 }}</p>
    <p>Rating Percent Rounded 100: {{ post.rating_percent_rounded_100 }}</p>
    <p>Rating Percent Rounded 1000: {{ post.rating_percent_rounded_1000 }}</p>
    <p>Rating Percent Rounded 10000: {{ post.rating_percent_rounded_10000 }}</p>
    <p>Rating Percent Rounded 100000: {{ post.rating_percent_rounded_100000 }}</p>
    <p>Rating Percent Rounded 1000000: {{ post.rating_percent_rounded_1000000 }}</p>
    <p>Rating Percent Rounded 10000000: {{ post.rating_percent_rounded_10000000 }}</p>
    <p>Rating Percent Rounded 100000000: {{ post.rating_percent_rounded_100000000 }}</p>
    <p>Rating Percent Rounded 1000000000: {{ post.rating_percent_rounded_1000000000 }}</p>
    <p>Rating Percent Rounded 10000000000: {{ post.rating_percent'}